@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full w-full font-segoe;
  }

  * {
    @apply focus:outline focus:outline-1 focus:outline-primary;
  }
}

@layer components {
  .wrapperHeader {
    @apply max-w-[1280px] w-full mx-auto px-4;
  }

  .wrapperContent {
    @apply max-w-[1536px] w-full mx-auto px-4;
  }

  .overlayLight {
    @apply bg-[#D9D9D9] bg-opacity-50 fixed inset-0 z-40 overflow-hidden;
  }

  .overlayDark {
    @apply bg-[#000000] bg-opacity-50 fixed inset-0 z-40 overflow-hidden;
  }

  .overlaySecondary {
    @apply bg-[#000000] bg-opacity-50 absolute h-screen top-12 left-0 right-0 hidden peer-focus-within:xl:block peer-hover:xl:block;
  }

  .overlayPending {
    @apply bg-transparent fixed inset-0 z-[100] h-full w-full;
  }

  .inputWrapper-focus {
    @apply focus-within:outline focus-within:outline-1 focus-within:outline-primary;
  }

  .inputWrapper input:not([type="checkbox"]):not([type="radio"]) {
    @apply bg-transparent outline-none;
  }

  .loader {
    @apply border-2 border-transparent rounded-full w-5 h-5 border-t-2 border-t-white animate-spin;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input::-webkit-date-and-time-value {
    text-align: left;
  }

  .postSkeleton {
    background-color: #333;
    background-image: linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc),
      linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc),
      linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc),
      linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc),
      linear-gradient(#ccc, #ccc);

    background-repeat: no-repeat;
    background-position: 12px 12px, 50px 16px, 92% 16px, 12px 50px, 12px 75px,
      12px 100px, 12px 140px, 50px 140px, 90px 140px;

    background-size: 32px 32px, 120px 16px, 60px 14px, 90% 12px, 85% 12px,
      80% 12px, 16px 16px, 16px 16px, 16px 16px;

    border-radius: 8px;
    animation: skeleton 1s infinite ease-in-out;
  }

  @keyframes skeleton {
    0% {
      background-color: #222;
    }
    50% {
      background-color: #333;
    }
    100% {
      background-color: #222;
    }
  }
}
